html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  word-wrap: break-word;
  word-break: break-word;
  color: var(--font-color-primary);
  background-color: var(--app-background-color);
  transition: $theme-transition;
}

a {
  -webkit-user-drag: none;
  user-select: none;
  text-decoration: none;
  color: var(--font-color-primary);

  &:visited {
    color: var(--font-color-primary);
  }
}

// 滚动条终极解决方案
html {
  overflow-y: scroll;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

body {
  width: 100vw;
  overflow: hidden;
}

// 滚动条终极解决方案 end

img {
  max-width: 100%;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
  background: hsla(0, 0%, 100%, 0.6);
}

::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(100, 100, 100, 0.4);
  transition: all 0.2s;

  &:hover {
    background-color: rgba(100, 100, 100, 0.7);
  }
}

/* 标题大小
-------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

@media (min-width: 480px) and (max-width: 767px) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 12px;
  }

  h6 {
    font-size: 11px;
  }
}