@font-face {
  font-family: 'iconfont';  /* project id 1194998 */
  src: url('//at.alicdn.com/t/font_1194998_iiq5gp08d9.eot');
  src: url('//at.alicdn.com/t/font_1194998_iiq5gp08d9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1194998_iiq5gp08d9.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1194998_iiq5gp08d9.woff') format('woff'),
  url('//at.alicdn.com/t/font_1194998_iiq5gp08d9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1194998_iiq5gp08d9.svg#iconfont') format('svg');
}

.icon {
  font-family:"iconfont" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dark:before { content: "\e74d"; }

.icon-light:before { content: "\e74a"; }

.icon-planet:before { content: "\e74e"; }

.icon-search:before { content: "\e718"; }

.icon-arroba:before { content: "\e6ff"; }

.icon-github:before { content: "\e608"; }

.icon-close:before { content: "\e621"; }

.icon-post:before { content: "\e602"; }

.icon-message:before { content: "\e668"; }

.icon-about:before { content: "\e661"; }

.icon-tag:before { content: "\e6c2"; }

.icon-cloud:before { content: "\e62a"; }

.icon-facebook:before {content: "\e601"; }

.icon-weibo:before {content: "\e606"; }

.icon-mail:before {content: "\e609"; }

.icon-wechat:before {content: "\e636"; }

.icon-site:before {content: "\e603"; }

.icon-qq:before { content: "\e607"; }

.icon-recommend:before { content: "\e633"; }

.icon-smile:before { content: "\e783"; }

.icon-image:before { content: "\e7de"; }

.icon-link:before { content: "\e7e2"; }

.icon-code:before { content: "\e7fc"; }

.icon-send:before { content: "\e916"; }

.icon-like:before { content: "\e7c8"; }

.icon-reply:before { content: "\e78a"; }

.icon-home:before { content: "\e7c6"; }

.icon-ant-close:before { content: "\e7fd"; }

.icon-heart:before { content: "\e7df"; }

.icon-eye:before { content: "\e78f"; }

.icon-heart-fill:before { content: "\e849"; }

.icon-message-fill:before { content: "\e84a"; }

.icon-up:before { content: "\e7eb"; }

.icon-tags-fill:before { content: "\e86e"; }

.icon-star-fill:before { content: "\e86a"; }
